<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App</title>
    <link rel="stylesheet" href="../style.css" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://img.icons8.com/ultraviolet/40/000000/chat.png"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container h-100" id="chat-container">
      <span class="d-flex justify-content-center" id="title-info"></span>
      <div class="h-50 overflow-auto">
        <div id="chat-area"></div>
      </div>
      <span class="d-flex justify-content-center" id="typing"></span>

      <div class="input-group d-flex justify-content-center" id="input-area">
        <input
          type="text"
          class="px-2"
          placeholder="Enter Message"
          id="message"
        />
        <button type="submit" class="btn btn-primary ml-2" id="send">
          Send
        </button>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="../admin.js"></script>
  </body>
</html>
