<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://img.icons8.com/ultraviolet/40/000000/chat.png"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <% if(type == "client") { %>
    <button type="button" class="btn btn-secondary" id="chat-button">
      Chat
    </button>
    <% } %>
    <div class="container" id="chat-container">
      <span id="close-chat">&Cross;</span>
      <div id="user-info"></div>
      <div id="chat-area">
        <div class="d-flex justify-content-center" id="date-info"></div>
        <div id="message-area"></div>
        <div class="d-flex justify-content-center" id="typing"></div>

        <div class="input-group d-flex justify-content-center" id="input-area">
          <input
            type="text"
            class="px-2"
            placeholder="Enter Message"
            id="message"
          />
          <button type="submit" class="btn btn-primary ml-2" id="send">
            Send
          </button>
        </div>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="client.js"></script>
  </body>
</html>
