<%- include('_header') -%>

    <body>
        <div class="container">
            <h2>Login</h2>
            <form method="POST" action="/">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="JohnDoe">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Secure_Password!">
                </div>

                <% if (message) {%>
                    <h5 class="alert alert-danger" role="alert"><%= message %> </h5> 
                <% } %>  
                
                <button type="submit" class="btn btn-primary d-flex justify-content-center">Login</button>
            </form>
        </div>
    </body>
</html>