* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: rgb(138, 153, 119);
}

html,
body {
  width: 100%;
  height: 100%;
}

span,
h2 {
  font-weight: bold;
}

.btn {
  float: right;
}

.form-group {
  min-width: 300px;
}

/* login.ejs */
.container {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* chat.ejs */
#chat-container {
  background: none;
  width: 300px;
  height: 500px;
  padding: 0;
  top: 95%;
  left: 95%;
  transform: translate(-100%, -100%);
  display: none;
}

#chat-button {
  position: absolute;
  top: 95%;
  left: 95%;
  transform: translate(-100%, -100%);
}

#chat-area {
  position: relative;
  width: 100%;
  height: 90%;
  padding: 15px;
  background: white;

  border: lightskyblue solid 1px;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

#message-area {
  width: 100%;
  height: 75%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

#user-info {
  height: 10%;
  background: lightblue;
  border-radius: 5px 5px 0 0;
  text-align: center;
  padding: 10px;
  font-size: 1.3rem;
  color: blue;
  text-transform: capitalize;
}

#date-info {
  font-weight: bold;
  margin-bottom: 10px;
}

#close-chat {
  position: absolute;
  left: 90%;
  top: 0;
  font-size: 1.3rem;
}

#close-chat:hover {
  cursor: pointer;
}

div .box {
  padding: 5px 10px;
  border-radius: 5px;
  max-width: 75%;
  word-wrap: break-word;
}

#typing {
  margin-top: 10px;
}

#input-area {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}

#message {
  width: 60%;
  border: 1px solid black;
  border-radius: 5px;
}

#joined-users {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li:hover {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(69, 212, 255);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0071b3;
}
